<cs-menubar></cs-menubar>

<mat-tab-group #tabGroup (selectedTabChange)="onTabClick($event)">
  <mat-tab label="Client">
    <ng-template matTabContent>
      <div class="items-center p-2 mx-auto space-x-1 bg-white shadow-lg rounded-xl">
        <div class="rounded">

        </div>
      </div>
    </ng-template>
    <mat-tab label="Client Master">
      <ng-template matTabContent>
        <div class="items-center p-2 mx-auto space-x-1 bg-white shadow-lg rounded-xl">
          <div class="rounded">

          </div>
        </div>
      </ng-template>
  </mat-tab>

