<footer
  class="fixed bottom-0 left-0 flex items-center justify-center w-full h-20 mt-1 ml-1 mr-1 text-white bg-gray-700 border-white ptext-2xl t-2 border-t9-2">
  <!-- Container -->
  <div class="container mx-auto max-w-8xl">
    <!-- Footer Flex Container -->
    <div class="flex flex-col items-center mb-8 space-y-6 md:flex-row md:space-y-0 md:justify-between md:items-start">

      <div class="font-bold">
        &copy; Production Support Dashboard and Maintenance
      </div>
    </div>
  </div>

</footer>
