<menubar></menubar>
<team-list></team-list>

  <div class="container px-6 mx-auto my-32 text-gray-900 max-w-8xl md:px-0">
    <div class="flex flex-col flex-auto overflow-hidden bg-gray-200 shadow sm:col-span-2 lg:col-span-3 dark bg-card rounded-2xl">
    <div class="flex items-center justify-between mt-10 ml-10 mr-6 bg-red-200 sm:mr-10">

        <div class="mr-4 text-2xl font-semibold leading-7 tracking-tight md:text-3xl">{{title}}</div>

    </div>
    <div class="flex flex-col flex-auto h-100">
      <app-pie></app-pie>
    </div>
  </div>
  </div>

