<div class="relative flex flex-col flex-auto block w-full">
  <div class="flex flex-wrap w-full max-w-screen-xl p-6 mx-auto" >
    <!-- Visitors vs. Page Views -->
    <div class="flex flex-col flex-auto mt-8 overflow-hidden shadow bg-card rounded-2xl">
      <div class="flex items-start justify-between m-6 mb-0">
        <div class="text-lg font-medium leading-6 tracking-tight truncate">Visitors vs. Page Views</div>
        <div class="ml-2">
          <button class="h-6 px-2 rounded-full min-h-6 bg-hover" mat-button [matMenuTriggerFor]="conversionMenu">
            <span class="text-sm font-medium text-secondary">30 days</span>
          </button>
          <mat-menu #conversionMenu="matMenu">
            <button mat-menu-item>30 days</button>
            <button mat-menu-item>3 months</button>
            <button mat-menu-item>9 months</button>
          </mat-menu>
        </div>
      </div>
      <div class="flex items-start mx-6 mt-6">
        <div class="grid grid-cols-1 gap-8 sm:grid-cols-3 sm:gap-12">
          <div class="flex flex-col">
            <div class="flex items-center">
              <div class="font-medium leading-5 text-secondary">Overall Score</div>
              <mat-icon class="ml-1.5 icon-size-4 text-hint" [svgIcon]="'heroicons_solid:information-circle'"
                [matTooltip]="'Score is calculated by using the historical ratio between Page Views and Visitors. Best score is 1000, worst score is 0.'">
              </mat-icon>
            </div>
            <div class="flex items-start mt-2">
              <div class="text-4xl font-bold leading-none tracking-tight">{{overallScore}}</div>
              <div class="flex items-center ml-2">
                <mat-icon class="text-green-500 icon-size-5" [svgIcon]="'heroicons_solid:arrow-circle-up'"></mat-icon>
                <div class="ml-1 font-medium text-green-500 text-md">42.9%</div>
              </div>
            </div>
          </div>
          <div class="flex flex-col">
            <div class="flex items-center">
              <div class="font-medium leading-5 text-secondary">Average Ratio</div>
              <mat-icon class="ml-1.5 icon-size-4 text-hint" [svgIcon]="'heroicons_solid:information-circle'"
                [matTooltip]="'Average Ratio is the average ratio between Page Views and Visitors'"></mat-icon>
            </div>
            <div class="flex items-start mt-2">
              <div class="text-4xl font-bold leading-none tracking-tight">{{averageRatio | number:'1.0-0'}}%</div>
              <div class="flex items-center ml-2">
                <mat-icon class="text-red-500 icon-size-5" [svgIcon]="'heroicons_solid:arrow-circle-down'"></mat-icon>
                <div class="ml-1 font-medium text-red-500 text-md">13.1%</div>
              </div>
            </div>
          </div>
          <div class="flex flex-col">
            <div class="flex items-center">
              <div class="font-medium leading-5 text-secondary">Predicted Ratio</div>
              <mat-icon class="ml-1.5 icon-size-4 text-hint" [svgIcon]="'heroicons_solid:information-circle'"
                [matTooltip]="'Predicted Ratio is calculated by using historical ratio, current trends and your goal targets.'">
              </mat-icon>
            </div>
            <div class="flex items-start mt-2">
              <div class="text-4xl font-bold leading-none tracking-tight">{{predictedRatio | number:'1.0-0'}}%</div>
              <div class="flex items-center ml-2">
                <mat-icon class="text-green-500 icon-size-5" [svgIcon]="'heroicons_solid:arrow-circle-up'"></mat-icon>
                <div class="ml-1 font-medium text-green-500 text-md">22.2%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col flex-auto mt-3 h-80">
        <apx-chart class="flex-auto w-full h-full" [series]="chartOptions.series" [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis" [title]="chartOptions.title"></apx-chart>
      </div>
    </div>

    <!-- Section title -->
    <div class="w-full mt-12">
      <div class="text-2xl font-semibold leading-6 tracking-tight">Service Requests</div>
      <div class="font-medium tracking-tight text-secondary"></div>
    </div>

    <div class="grid w-full grid-cols-1 gap-8 mt-6 sm:grid-cols-2 lg:grid-cols-4 md:mt-8">
      <!-- New vs. Returning -->
      <div class="flex flex-col flex-auto p-6 overflow-hidden shadow bg-card rounded-2xl">
        <div class="flex items-start justify-between">
          <div class="text-lg font-medium leading-6 tracking-tight truncate">New vs. Returning</div>
          <div class="ml-2">
            <button class="h-6 px-2 rounded-full min-h-6 bg-hover" mat-button [matMenuTriggerFor]="conversionMenu">
              <span class="text-sm font-medium text-secondary">30 days</span>
            </button>
            <mat-menu #conversionMenu="matMenu">
              <button mat-menu-item>30 days</button>
              <button mat-menu-item>3 months</button>
              <button mat-menu-item>9 months</button>
            </mat-menu>
          </div>
        </div>
        <!-- <div class="flex flex-col flex-auto mt-6 h-44">
          <apx-chart class="flex items-center justify-center flex-auto w-full h-full" [series]="chartOptions.series"
            [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis" [title]="chartOptions.title">
          </apx-chart>
        </div> -->

      </div>
      <!-- Gender -->
      <div class="flex flex-col flex-auto p-6 overflow-hidden shadow bg-card rounded-2xl">
        <div class="flex items-start justify-between">
          <div class="text-lg font-medium leading-6 tracking-tight truncate">Gender</div>
          <div class="ml-2">
            <button class="h-6 px-2 rounded-full min-h-6 bg-hover" mat-button [matMenuTriggerFor]="conversionMenu">
              <span class="text-sm font-medium text-secondary">30 days</span>
            </button>
            <mat-menu #conversionMenu="matMenu">
              <button mat-menu-item>30 days</button>
              <button mat-menu-item>3 months</button>
              <button mat-menu-item>9 months</button>
            </mat-menu>
          </div>
        </div>
        <div class="flex flex-col flex-auto mt-6 h-44">
          <apx-chart class="flex items-center justify-center flex-auto w-full h-full" [series]="chartOptions.series"
            [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis" [title]="chartOptions.title"></apx-chart>
        </div>

      </div>
      <!-- Age -->
      <div class="flex flex-col flex-auto p-6 overflow-hidden shadow bg-card rounded-2xl">
        <div class="flex items-start justify-between">
          <div class="text-lg font-medium leading-6 tracking-tight truncate">Age</div>
          <div class="ml-2">
            <button class="h-6 px-2 rounded-full min-h-6 bg-hover" mat-button [matMenuTriggerFor]="conversionMenu">
              <span class="text-sm font-medium text-secondary">30 days</span>
            </button>
            <mat-menu #conversionMenu="matMenu">
              <button mat-menu-item>30 days</button>
              <button mat-menu-item>3 months</button>
              <button mat-menu-item>9 months</button>
            </mat-menu>
          </div>
        </div>
        <!-- <div class="flex flex-col flex-auto mt-6 h-44">
          <apx-chart class="flex items-center justify-center flex-auto w-full h-full" [series]="chartOptions.series"
            [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis" [title]="chartOptions.title">
          </apx-chart>
        </div> -->
        <div class="mt-8">

        </div>
      </div>
      <!-- Language -->
      <div class="flex flex-col flex-auto p-6 overflow-hidden shadow bg-card rounded-2xl">
        <div class="flex items-start justify-between">
          <div class="text-lg font-medium leading-6 tracking-tight truncate">Language</div>
          <div class="ml-2">
            <button class="h-6 px-2 rounded-full min-h-6 bg-hover" mat-button [matMenuTriggerFor]="conversionMenu">
              <span class="text-sm font-medium text-secondary">30 days</span>
            </button>
            <mat-menu #conversionMenu="matMenu">
              <button mat-menu-item>30 days</button>
              <button mat-menu-item>3 months</button>
              <button mat-menu-item>9 months</button>
            </mat-menu>
          </div>
        </div>
        <!-- <div class="flex flex-col flex-auto mt-6 h-44">
          <apx-chart class="flex items-center justify-center flex-auto w-full h-full" [series]="chartOptions.series"
            [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis" [title]="chartOptions.title"></apx-chart>
        </div> -->
        <div class="mt-8">
          <div class="-my-3 divide-y">

          </div>
        </div>
      </div>
    </div>

  </div>

</div>

