<section id="blog">
  <div
    class="container px-6 py-10 mx-auto transition-opacity duration-200 ease-in opacity-50 max-w-8xl scroll-smooth md:p-8 hover:opacity-100">
    <!-- Menu/Logo Container -->
    <nav class="flex items-center justify-between text-2xl text-white fontold">
      <!-- Logo -->

      <p class="text-4xl font-black text-gray-300 uppercase ">PRODUCTION DASHBOARD</p>

      <div class="container p-1">
        <section class="text-gray-500 bg-gray-200 body-font">
          <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -m-4">
              <div class="p-4 md:w-1/3">
                <app-card></app-card>
              </div>
              <div class="p-4 md:w-1/3">
                <app-card></app-card>
              </div>
              <div class="p-4 md:w-1/3">
                <app-card></app-card>
              </div>
            </div>
          </div>
        </section>
      </div>
    </nav>
  </div>
