<!-- side bar -->
<div class="container relative sticky h-screen top-10">
  <aside aria-label="Sidebar">
    <div class="px-3 py-10 overflow-y-auto text-white bg-gray-600 rounded dark:bg-gray-800">
      <ul class="space-y-1">

        <li>
          <a routerLink="/dashboard/landing"
            class="flex items-center p-2 pr-5 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
            <mat-icon [svgIcon]="'mat_outline:dashboard_customize'"></mat-icon>
            <span class="flex-1 ml-3 text-2x1 whitespace-nowrap">Dashboard</span>
          </a>
        </li>
        <li>
          <a routerLink="/dashboard/client-service"
            class="flex items-center p-2 pr-5 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
            <mat-icon [svgIcon]="'mat_outline:dashboard_customize'"></mat-icon>
            <span class="flex-1 ml-3 text-2x1 whitespace-nowrap">Customer Services</span>
          </a>
        </li>
        <li>
          <a routerLink="/dashboard/service-requests"
            class="flex items-center p-2 font-normal text-gray-300 rounded-lg text-1xl pr- grow hover:bg-gray-800 dark:hover:bg-gray-700">
            <mat-icon [svgIcon]="'mat_outline:shop_2'"></mat-icon>
            <span class="flex-1 ml-3 whitespace-nowrap">Service Requests</span>
          </a>
        </li>
        <li>
          <a routerLink="/dashboard/incidents"
            class="flex items-center p-2 font-normal text-gray-300 rounded-lg text-1xl pr- grow hover:bg-gray-800 dark:hover:bg-gray-700">
            <mat-icon [svgIcon]="'mat_outline:sync_problem'"></mat-icon>
            <span class="flex-1 ml-3 whitespace-nowrap">Incidents</span>
          </a>
        </li>
        <li>
          <a routerLink="/dashboard/tasks"
            class="flex items-center p-2 pr-5 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
            <mat-icon [svgIcon]="'mat_outline:task_alt'"></mat-icon>
            <span class="flex-1 ml-3 whitespace-nowrap">Tasks</span>
          </a>
        </li>
        <li>
          <a routerLink="dashboard/monitoring"
            class="flex items-center p-2 pr-5 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
            <mat-icon [svgIcon]="'heroicons_outline:eye'"></mat-icon>
            <span class="flex-1 ml-3 whitespace-nowrap">Monitoring</span>
          </a>
        </li>
        <li>
          <a routerLink="documentation"
            class="flex items-center p-2 pr-5 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
            <mat-icon [svgIcon]="'heroicons_outline:document-search'"></mat-icon>
            <span class="flex-1 ml-3 whitespace-nowrap">Documentation</span>
          </a>
        </li>
        <li>
          <a routerLink="blog" class="flex items-center p-2 pr-5 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
            <mat-icon [svgIcon]="'mat_outline:note'"></mat-icon>
            <span class="flex-1 ml-3 whitespace-nowrap">Blog</span>
          </a>
        </li>

        <li>
          <a routerLink="users"
            class="flex items-center p-2 pr-5 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
            <mat-icon [svgIcon]="'heroicons_outline:users'"></mat-icon>
            <span class="flex-1 ml-3 whitespace-nowrap">Users</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
</div>
