<div
  class="flex flex-col flex-auto m-2 overflow-hidden bg-gray-500 shadow sm:col-span-2 lg:col-span-1 bg-card rounded-2xl">
  <div class="text-3xl font-medium text-center text-gray-800 bg-gray-400 text-bold">{{header}}</div>
  <div class="flex items-start justify-between m-6 mb-0 rounded-lg">
    <div class="p-2 text-2xl leading-6 tracking-tight text-center uppercase truncate">{{title}}</div>
    <div class="p-2 text-2xl leading-6 tracking-tight text-center uppercase truncate">{{current_date}}</div>
    
  </div>
  <div class="flex flex-col mx-6 mt-3 rounded-lg lg:flex-row lg:items-center">
    <div class="font-bold leading-tight tracking-tighter text-7xl">{{amount | number:'1.0-0'}}</div>
    <div class="flex lg:flex-col lg:ml-3">
      <div *ngIf="trending; else down">
        <mat-icon class="text-green-500 icon-size-10" [svgIcon]="'heroicons_solid:trending-down'"></mat-icon>
      </div>
      <div class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary">
        <span class="font-medium text-gray-800">{{percentage_change}} %</span>
        <span class="ml-1 text-gray-800 text-1xl">{{comment}}</span>
      </div>
    </div>
  </div>
  <div class="flex flex-col flex-auto">
  </div>


  <ng-template #down>
    <mat-icon class="text-red-500 icon-size-10" [svgIcon]="'heroicons_solid:trending-down'"></mat-icon>
  </ng-template>
