<div class="flex flex-col flex-auto w-full">

  <div class="flex flex-wrap w-full max-w-screen-xl p-6 mx-auto md:p-8">

    <div class="grid w-full grid-cols-1 gap-8 mt-8 sm:grid-cols-2 lg:grid-cols-3">
      <!-- Alerts Overview -->
      <div
        class="flex flex-col flex-auto overflow-hidden bg-gray-200 shadow sm:col-span-2 lg:col-span-3 dark bg-card rounded-2xl">
        <div class="flex items-center justify-between mt-10 ml-10 mr-6 sm:mr-10">
          <div class="flex flex-col">
            <div class="mr-4 text-2xl font-semibold leading-7 tracking-tight md:text-3xl">Alerts and Warning History
            </div>
            <div class="font-medium text-blue-400">Average Alerts per Day</div>
          </div>
          <div class="ml-2">
          </div>
        </div>
        <div class="flex flex-col flex-auto h-100">
          <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [yaxis]="chartOptions.yaxis"
            [xaxis]="chartOptions.xaxis" [labels]="chartOptions.labels" [stroke]="chartOptions.stroke"
            [title]="chartOptions.title" [dataLabels]="chartOptions.dataLabels" [fill]="chartOptions.fill"
            >
          </apx-chart>
        </div>
      </div>
      <!-- GLOSS -->
      <app-data-card [title]="'GLOSS'" [amount]="14" [trending]=true [comment]="'meeting expectation'"></app-data-card>
      <!-- ACM -->
      <app-data-card [title]="'ACM'" [amount]="3" [trending]=false [comment]="'below expectation'"></app-data-card>
      <!-- BOJ and JASDEC -->
      <app-data-card [title]="'BOJ & JASDEC'" [amount]="8" [trending]=true [comment]="'meeting expectation'"></app-data-card>

    </div>
  </div>

</div>

